/* ANCHOR Signature
    ._________.
    | > \   < |
    | \\[T]// |
    |  \|O|/  |
    |   |Y|   |
    |  _|||_  |
    |_________| 

*/

/* SECTION main */
body {
    background-color: #e5e5e5;
}

main {
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.app {
    background-color: #fff;
    max-width: 350px;
    min-height: 725px;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 1rem;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 206, 161, 0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}

/* ANCHOR form modal */
#msg {
    color: red;
}

textarea {
    resize: none;
}

/* ANCHOR liste des tasks */
#tasks {
    display: grid;
    grid-template-columns: 16rem;
    gap: 14px;
}

#tasks div {
    border: 3px solid #abcea1;
    background-color: #e2eede;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

#tasks div .options i,
.fa-trash,
.fa-file {
    cursor: pointer;
}

/* !SECTION main */